.container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.panel-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1px;
    margin: 2px;
   

}

.result{
    text-align: right;
    padding: 5px;
   border-bottom: 1px solid black;
}
.action{
    background-color: rgb(255, 218, 123);
    
}
.panel-button{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.panel-button:first-child{
    grid-column: 1/span 2;
}
.zero{
    grid-column: 1/span 2;
}