
body {
  margin: 0;
  font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
  
}

h1,h2,h3,h4,h5,h6{
  font-size: 1.5em;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
